@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background: rgb(23,54,16);
background: radial-gradient(circle, rgba(23,54,16,1) 0%, rgba(24,47,10,1) 6%, rgba(27,48,14,1) 14%, rgba(24,55,6,1) 22%, rgba(21,55,1,1) 32%, rgba(18,48,1,1) 42%, rgba(20,47,4,1) 53%, rgba(20,52,2,1) 62%, rgba(20,55,0,1) 69%, rgba(19,48,3,1) 76%, rgba(17,46,1,1) 84%, rgba(25,54,9,1) 91%);
  background-position: 600%;
    background-size: 110%;    
}


.bgtext{
    display: inline-block;
    color: transparent;
    background: linear-gradient(90deg, rgba(6,150,31,1) 0%, rgba(48,166,53,1) 18%, rgba(68,162,60,1) 35%, rgba(103,182,80,1) 51%, rgba(136,191,96,1) 69%, rgba(191,206,123,1) 85%, rgba(242,224,149,1) 100%);   
    -webkit-background-clip: text;
     background-clip: text;
}


      
.container {
        background-color: #677365; 
        height: 2px;
}
      
.barCompleted {
        background-color: #cfe4cc;
        width: 75%;
        height: 2px;
 }
      
.label {
        height: 2px;
        font-size: 0px;
        color: green;
}




      


      


      
